extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p As a proficient Full Stack Web Developer, I specialize in building comprehensive and dynamic web applications from concept to deployment. With a solid foundation in both front-end and back-end technologies, I create seamless user experiences and robust server-side functionality. I am passionate about writing clean, efficient code and continuously learning the latest technologies to enhance my skills. My approach to development is collaborative, ensuring that every project I work on is both functional and scalable. I thrive in dynamic environments where I can solve complex problems and contribute to the success of innovative web projects.

    
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`, title=`View ${project.project_name}'s Project Page`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail ${project.project_name}`)
            h5 #{project.project_name}